{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
<h3>📌 Notice Board</h3><hr>

{% for n in notices %}
<div class="card mb-3 shadow">
    <div class="card-body">
        <h5>{{ n.title }}
            {% if n.priority == 'Urgent' %}
            <span class="badge bg-danger">Urgent</span>
            {% endif %}
        </h5>
        <p>{{ n.message }}</p>
        <small class="text-muted">{{ n.created_at }}</small>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
