{% extends "layout.html" %}
{% block content %}

<div class="container mt-5">
<h4>Edit Attendance</h4>

<form method="POST">
    <div class="mb-3">
        <label>Student Name</label>
        <input type="text" name="student_name" value="{{ record.student_name }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Date</label>
        <input type="date" name="date" value="{{ record.date }}" class="form-control">
    </div>

    <div class="mb-3">
        <label>Status</label>
        <select name="status" class="form-select">
            <option value="Present" {% if record.status=="Present" %}selected{% endif %}>Present</option>
            <option value="Absent" {% if record.status=="Absent" %}selected{% endif %}>Absent</option>
        </select>
    </div>

    <button class="btn btn-primary">Update</button>
</form>

</div>

{% endblock %}
